.shadow {
	box-shadow: 1px 3px 20px#888;
	moz-box-shadow: 1px 3px 20px#888;
	o-box-shadow: 1px 3px 20px#888;
	webkit-box-shadow: 1px 3px 20px#888;
}
body {
	background-color: #333;
	font-family: Georgia,Arial,sans-serif;
}
h1,h2,h3,h4 {
	font-family: "Graublau Web",Helvetica,sans-serif;
}

#left {
	left:0%;
	width:50%;
	height:100%;
	position:absolute;
}

#right {
	left:50%;
	width:50%;
	height:100%;
	position:absolute;
}
#home{
}

.register {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#aaa), color-stop(.6,#CCCCCC));
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
    color: #444;
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,.2);
    font-weight: bold;
}